<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title class="title">Добавить продукт</title>

</head>
<body>
<div class="form-block">
    <form action="#" th:action="@{/create}" th:object="${task}" method="post">
        <label class="form-label" for="name">Название</label>
        <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Введите название продукта"><br/>
        <label class="form-label" for="description">Цена</label>
        <input class="form-control" type="text" th:field="*{description}" id="description" placeholder="Введите цену"><br/>
        <input type="submit" value="Добавить продукт">
    </form></div>

</body>
</html>